<!-- <mat-spinner color="primary"></mat-spinner> -->

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Deleting image...</p>
</ngx-spinner>

<div class="row">
  <div class="col-md-4" *ngFor="let image of images; index as i">
      <div class="card mb-3 animated zoomIn">
          <h3 class="card-header">{{image.name}}</h3>
          <div class="card-body">
            <h5 class="card-title"><b>ID: </b>{{image.imageId}}</h5>
          </div>
          <div class="card-body text-center">
          <img style="height: 200px; width: 100%; display: block;" src="{{image.imageUrl}}" alt="Card image">
          </div>

          <div class="card-body d-flex justify-content-between">
            <button class="btn btn-outline-primary" (click)="showModal(i)"><i class="far fa-eye"></i> Details</button>
            <button class="btn btn-outline-danger" (click)="delete(image.id)"><i class="far fa-trash-alt"></i> Delete</button>
          </div>
          <div class="card-footer text-center">
            &copy; Dkey Inc
          </div>
        </div>

  </div>
</div>
